<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Menu Item</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class = 'header'>
      <h1>Edit Menu Item</h1>
    </div>
    <form action="{{url_for('editMenuItem', restaurant_id = item.restaurant_id, menu_id=item.id)}}" method="post">
      <!--  -->
      <div class="">
        <label for="">Name:</label>
        <input type ='text' name='name' placeholder = '{{item.name }}'>
      </div>
      <div class="">
        <label for="">Description:</label>
        <textarea name = 'description' rows='5' cols='40' placeholder = '{{item.description }}'></textarea>
      </div>
      <div class="">
        <label for="">Price:</label>
        <input type ='text' name='price' placeholder = '{{item.price }}'>
      </div>
      <div class="">
        <label for="">Course:</label>
        <div><input type ='radio' name='course' value='Appetizer' {% if item.course == 'Appetizer' %} checked {% endif %} >Appetizer</div>
        <div><input type ='radio' name='course' value='Entree' {% if item.course == 'Entree' %} checked {% endif %} >Entree</div>
        <div><input type ='radio' name='course' value='Dessert' {% if item.course == 'Dessert' %} checked {% endif %} >Dessert</div>
        <div><input type ='radio' name='course' value='Beverage' {% if item.course == 'Beverage' %} checked {% endif %} >Beverage</div>
      </div>

      <input type='submit' value='Edit'>
      <a href = '{{url_for('showMenu', restaurant_id = item.restaurant_id)}}'> Cancel </a>
      <!--  -->
    </form>
  </body>
</html>
