<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Menu Item</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class = 'header'>
      <h1>New Menu Item</h1>
    </div>
    <form action="{{url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="post">
      <!--  -->
      <div class="">
        <label for="">Name:</label>
        <input type ='text' name='name' placeholder = 'item name'>
      </div>
      <div class="">
        <label for="">Description:</label>
        <textarea name = 'description' rows='5' cols='40' placeholder = 'item description'></textarea>
      </div>
      <div class="">
        <label for="">Price:</label>
        <input type ='text' name='price' placeholder = 'item price'>
      </div>
      <div class="">
        <label for="">Course:</label>
        <div><input type ='radio' name='course' value='Appetizer' >Appetizer</div>
        <div><input type ='radio' name='course' value='Entree' >Entree</div>
        <div><input type ='radio' name='course' value='Dessert' >Dessert</div>
        <div><input type ='radio' name='course' value='Beverage' >Beverage</div>
      </div>

      <input type='submit' value='Create'>
      <a href = '{{url_for('showMenu', restaurant_id=restaurant_id)}}'> Cancel </a>
      <!--  -->
    </form>
  </body>
</html>
